.banner {
  background: $primary;
  color: $white;
}
.banner-heading {
  font-size: 3.2rem;
  text-shadow: 2px 2px 6px rgba(#000, 0.2);
}
.banner-text {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 0.5rem;
}
