.navbar {
  padding: 0.75rem 0;
  border-bottom: 1px solid $bgDark;
  background-color: $bgLight;
}
.brand {
  img {
    width: 7rem;
  }
}
.nav-item {
  margin-left: 2rem;
  a {
    font-size: 1.2rem;
    color: $textLight;
    transition: color 200ms ease-in-out;
    &:hover {
      color: $primary;
    }
    &.active {
      color: $textDark;
    }
  }
}
