.pagination {
  margin: 2rem 0;
  border-top: 1px solid $bgDark;
  padding-top: 3rem;
}
.pagination-count {
  span {
    color: $primary;
    border: 1px solid;
    border-right: 0;
    padding: 0.5rem 0.7rem;
    display: inline-block;
    cursor: pointer;
    &:last-child {
      border-right: 1px solid;
    }
    &:hover {
      background-color: $bgDark;
    }
  }
}
.prev,
.next {
  font-size: 1.3rem;
  color: $textDark;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 576px) {
  .prev {
    margin-right: 1rem;
  }
  .next {
    margin-left: 1rem;
  }
}
