.post {
  border-top: 1px solid $bgDark;
  padding: 2rem 0;
}
.author-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.post-details {
  margin-left: 0.5rem;
  color: $textLight;
  font-size: 0.8rem;
  line-height: 1;
  a {
    color: $primary;
    font-size: 1rem;
    transition: all 100ms ease-in-out;
    &:hover {
      text-decoration: underline;
    }
  }
}
.post-body {
  margin: 1rem 0;
}
.post-title {
  font-size: 1.5rem;
  color: $textDark;
}
.post-text {
  font-size: 1rem;
  color: rgba($textLight, 0.7);
}
